*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{
font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Pretendard', sans-serif;
background:#fff;
}


.app{
max-width:430px;
margin:0 auto;
}


.swiper{
width:100%;
height:100vh;
}


.swiper-slide{
display:flex;
flex-direction:column;
}


.hero{
width:100%;
height:auto;
}


.content{
position:relative;
padding:24px 24px 24px;
}


.title{
color:#F59E0B;
font-size:24px;
font-weight:200;
line-height:1.1;
margin-bottom:18px;
}


.desc{
font-size:12px;
line-height:1.9;
color:#3b3f46;
}


.bike{
position:absolute;
right: 0;
bottom: 0;
width:196px;
}

.jeju{
    position:absolute;
    right: 0;
    bottom: 0;
    width:198px;
}
.hand{
    position:absolute;
    right: 5px;
    bottom: 10px;
    width:214px;
}


/* pagination 전체 위치를 왼쪽 하단으로 */
.swiper-pagination{
  position: absolute;
  left: 22px !important;   /* 시안 기준 좌측 여백 */
  right: auto !important;
  bottom: 24px !important;
  width: auto !important;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}



.swiper-pagination-bullet{
width:14px;
height:14px;
background:#d1d5db;
opacity:1;
}


.swiper-pagination-bullet-active{
width:48px;
border-radius:999px;
background:#F59E0B;
}