*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{
font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo', 'Pretendard', sans-serif;
background:#fff;
}


.app{
max-width:430px;
margin:0 auto;
}


.swiper{
width:100%;
height:100vh;
}


.swiper-slide{
display:flex;
flex-direction:column;
}


.hero{
width:100%;
height:auto;
}


.content{
  position: relative;
  padding: 28px 22px 220px; 
  /* 👆 하단에 자전거 공간 확보 */
}


.title{
color:#F59E0B;
font-size:24px;
font-weight:800;
line-height:1.1;
margin-bottom:18px;
}


.desc{
font-size:13px;
line-height:1.9;
color:#3b3f46;
}


.bike{
  position: absolute;
  right: 12px;
  bottom: 32px;
  width: 260px;
  height: auto;
  pointer-events: none;
}

.jeju{
    position: absolute;
    right: 12px;
    bottom: 32px;
    width: 260px;
    height: auto;
    pointer-events: none;
}
.hand{
    position: absolute;
    right: 0;
    bottom: 32px;
    width: 260px;
    height: auto;
    pointer-events: none;
}

/* 모바일 작은 기기 대응 */
@media (max-width: 380px){
  .content{
    padding-bottom: 200px;
  }
  .bike{
    width: 230px;
  }
}


/* pagination 전체 위치를 왼쪽 하단으로 */
.swiper-pagination{
  position: absolute;
  left: 22px !important;   /* 시안 기준 좌측 여백 */
  right: auto !important;
  bottom: 24px !important;
  width: auto !important;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}



.swiper-pagination-bullet{
    width: 14px;
    height: 14px;
    background: #d1d5db;
    opacity: 1;
    border-radius: 999px;
}


.swiper-pagination-bullet-active{
width:48px;
background:#F59E0B;
}