@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body{
    font-family: "Noto Sans KR", sans-serif;

}
/* 여백 초기화 */
*{
    margin: 0; padding: 0;
}
/* 기본설정 초기화 */
a{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    border: none;
    background: none;
}
.header{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #e1e1e1;
}
.header .inner{
    width: 1360px;
    height: 80px;
    /* background: gold; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .inner h1 a{
    display: block;
    width: 278px;
    height: 20px;
    background: url(../images/logo.jpg) no-repeat;
    text-indent: -99999px;
}
.gnb{
    width: 1360px;
    height: 60px;
    background: #fff;
    margin: 0 auto;
    display: flex;justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
}
.gnb>li>a{
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.gnb>li:hover>a{
    color: #d1ac7f;
}

/* 2단 메뉴 */
.gnb>li>.depth2{
    width: 1360px;
    height: 43px;
    background: rgba(255,255,255,0.7);
    position: absolute;
    left: 0;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 63px;
    display: none;
    z-index: 20;
}
.gnb>li:hover>.depth2{
    display: flex;
}
.gnb>li>.depth2 li a{
    color: #838383;
    font-size: 14px;
    font-weight: 400;
}
.gnb>li>.depth2 li:hover a{
    color: #333;
}

.main-swiper {
    width: 1360px;
    height: 610px;
    margin: 0 auto;
    position: relative;
}

.swiper-controls {
    position: absolute;
    right: 32px;
    bottom: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 10;
}
.swiper-pagination {
  position: static; /* flex 안에서 자연스럽게 */
    width: auto;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: rgba(0,0,0,0.25);
    opacity: 1;
    margin: 0 4px;
    transition: background 0.3s;
}

.swiper-pagination-bullet-active {
    background: #5e5e5e;
}
.swiper-btn-toggle {
    width: 14px;
    height: 14px;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
}

/* pause 아이콘 */
.swiper-btn-toggle::before,
.swiper-btn-toggle::after {
    content: '';
    position: absolute;
    top: 0;
    width: 4px;
    height: 14px;
    background: #5e5e5e;
}

.swiper-btn-toggle::before { left: 0; }
.swiper-btn-toggle::after { right: 0; }

/* play 상태 */
.swiper-btn-toggle.play::before {
    width: 0;
    height: 0;
    border-left: 10px solid #111;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    left: 2px;
}

.swiper-btn-toggle.play::after {
    display: none;
}


