@charset "utf-8";
body{

}
*{
    margin: 0; padding: 0;
}
li{
    list-style: none;
}
ul{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
}
ul li{
    width: 333.3px;
    height: 300px;
    float: left;

}
ul .co1{
    background: #1ddb17;
}
ul .co2{
    background: #00d8ff;
}
ul .co3{
    background: #ffbb00;
}
.box{
    width: 1000px;
    height: 300px;
    background: #ffff00;
    margin: 0 auto;
}
.box2{
    width: 1000px;
    height: 50px;
    background: #eeeeee;
    margin: 0 auto;
}